<!--Show specific users based on user_id.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="text-center no-margin">
            <%= @user.profile.job_title %> Profile
          </h1>
        </div>
        <ul class="list-group">
          <li class="list-group-item profile-image-box">
            <% if @user.profile.avatar.exists? %>
              <%= image_tag @user.profile.avatar.url, class: "img-responsive center-block avatar-large" %>
            <% else %>
              <%= image_tag "DevMatch.png" %>
            <% end %>
          </li>
          <li class="list-group-item text-box">
            <h3 class="text-center no-margin">
              <%= @user.profile.first_name %>
              <%= @user.profile.last_name %>
            </h3>
          </li>
          <li class="list-group-item text-box">
            <h3 class="text-center no-margin">
              Contact Information
            </h3>
          </li>
          <% if current_user.plan_id == 2 %>
            <li class="list-group-item text-box">
              <h4 class="list-group-item-heading text-center">Email Address</h4>
              <p class="text-center no-margin"><%= @user.profile.contact_email %></p>
            </li>
            <li class="list-group-item text-box">
              <h4 class="list-group-item-heading text-center">Phone Number</h4>
              <p class="text-center no-margin"><%= @user.profile.phone_number %></p>
            </li>
          <% else %>
            <li class="list-group-item text-box">
              <!--Eventually add a link to update subscription to pro membership.-->
              <p class="text-center">For access to contact information, sign up with a pro membership!</p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <!--Added a well just to show how far this column spans-->
      <div class="well">
        <!--Future newsfeed system-->
      </div>
    </div>
    <div class="col-md-2">
      <!--Added a well just to show how far this column spans-->
      <div class="well">
        <!--Future right bar for other stuff-->
      </div>
    </div>
  </div>
</div>
